@model MvcCms.Models.Tag

@{
    ViewBag.Title = "Browse";
}
<div class="container">
<div class="page-header">
    <h2>Catégorie : @Model.Name</h2>
</div>


@foreach (var post in Model.Posts.OrderByDescending(p => p.Date))
{
    
    <div class="span8">
        <h3>@Html.ActionLink(post.Title, "Details", new { id = post.PostId })</h3>
        @Html.Raw(post.Content)
        <div>
            <span class="label">@post.Date.ToString("dd/MM/yyyy")</span> | 
            <span class="label label-info">@post.Tag.Name</span> 
        </div>
        @Html.ActionLink("Lire la suite", "Details", new { id = post.PostId }, new { @class="btn btn-mini section pull-right" })
    </div>

}
</div>
