@model IEnumerable<MvcCms.Models.Post>
@{
    ViewBag.Title = "GetArchives";
}

<div class="container">
    <div class="page-header">
        <h3>Archive  : @ViewBag.Month <span>/</span> @ViewBag.Year</h3>
    </div>
    <div class="span2">
        @{Html.RenderAction("Archive", "Post");}
    </div>
    <div class="span6" >
        @foreach (var post in Model)
        {
            <h3>@Html.ActionLink(post.Title, "Details", new { id = post.PostId, title = post.Slug })</h3>
            @Html.Raw(post.Content)
            <div>
                <span class="label">@post.Date.ToString("dd/MM/yyyy")</span> | 
                <span class="label label-info">@post.Tag.Name</span> |
                <span class="label label-warning">@post.Author</span>
            </div>
            @Html.ActionLink("Lire la suite", "Details", new { id = post.PostId}, new { @class="btn btn-mini section pull-right" })
        }
    </div>
</div>